/* globals.css */

/* 1. Import des polices */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;display=swap");
@import "tailwindcss";

/* 2. Directives Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Variables CSS */
:root {
  /* Couleurs principales */
  --primary: 67 99% 57%;
  --primary-foreground: 330 7% 17%;
  --secondary: 211 100% 57%;
  --secondary-foreground: 0 0% 100%;

  /* Fond et texte */
  --background: 60 11% 96%;
  --foreground: 330 7% 17%;

  /* Zone de fichier */
  --filezone: 0 0% 93%;

  /* Radius global */
  --radius: 0.625rem;

  /* Cartes & popovers */
  --card: 0 0% 100%;
  --card-foreground: 0 0% 14.5%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 14.5%;

  /* Muted & accent */
  --muted: 0 0% 85%;
  --muted-foreground: 0 0% 55.6%;
  --accent: 0 0% 97%;
  --accent-foreground: 0 0% 20.5%;

  /* Destructive */
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;

  /* Bordure, input, ring */
  --border: 0 0% 92.2%;
  --input: 0 0% 92.2%;
  --ring: 0 0% 70.8%;

  /* Charts */
  --chart-1: 41 65% 64.6%;
  --chart-2: 185 30% 60%;
  --chart-3: 227 14% 39.8%;
  --chart-4: 84 47% 82.8%;
  --chart-5: 70 47% 76.9%;

  /* Sidebar */
  --sidebar: 0 0% 98.5%;
  --sidebar-foreground: 0 0% 14.5%;
  --sidebar-primary: 0 0% 20.5%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 97%;
  --sidebar-accent-foreground: 0 0% 20.5%;
  --sidebar-border: 0 0% 92.2%;
  --sidebar-ring: 0 0% 70.8%;
}

/* 4. Mode sombre */
.dark {
  --background: 0 0% 14.5%;
  --foreground: 0 0% 98.5%;
  --card: 0 0% 20.5%;
  --card-foreground: 0 0% 98.5%;
  --popover: 0 0% 20.5%;
  --popover-foreground: 0 0% 98.5%;
  --primary: 0 0% 92.2%;
  --primary-foreground: 0 0% 20.5%;
  --secondary: 0 0% 26.9%;
  --secondary-foreground: 0 0% 98.5%;
  --muted: 0 0% 26.9%;
  --muted-foreground: 0 0% 70.8%;
  --accent: 0 0% 26.9%;
  --accent-foreground: 0 0% 98.5%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 0 85% 97%;
  --border: 0 0% 10%;
  --input: 0 0% 15%;
  --ring: 0 0% 55.6%;
  --chart-1: 264 49% 48.8%;
  --chart-2: 162 34% 69.6%;
  --chart-3: 70 47% 76.9%;
  --chart-4: 304 53% 62.7%;
  --chart-5: 16 49% 64.5%;
  --sidebar: 0 0% 20.5%;
  --sidebar-foreground: 0 0% 98.5%;
  --sidebar-primary: 264 49% 48.8%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 26.9%;
  --sidebar-accent-foreground: 0 0% 98.5%;
  --sidebar-border: 0 0% 10%;
  --sidebar-ring: 0 0% 55.6%;
}

/* 5. Styles de base */
@layer base {
  * {
    border-color: hsl(var(--border));
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
}